* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #000 !important;
    background-size: cover;
}

.Container {
    width: 95%;
    margin: auto;
    padding: 0 .5rem;
    background-color: #000;
    margin-top: 1.5rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #ddd;
}


.navbar-brand {
    font-size: 35px!important;
    color: #fff!important;
    font-family: 'Lobster', cursive!important;
    margin-left: 2rem;
}

.navbar-toggler {
    color: #fff!important;
    border-color: #fff!important;
}
#SocialIcons a{
    display: none;
}
#SocialIcons a i{
    font-size: 25px;
    color: #6c757d;
    transition: .1s;
}
#SocialIcons a i:hover{
    color: white;
    font-size: 30px;
}

a {
    font-family: 'Montserrat', sans-serif!important;
    color: #fff!important;
    font-size: 18px!important;
    padding-right: 36px!important;
}

.nav-link:hover{
    color: rgb(212, 212, 212)!important;
}

.intro {
    width: 100vw;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C0C0C0;
}
.heading h1{
    color: #c0c0c0;
}

.videos {
    border-radius: 40px;
    overflow: hidden;
    padding-right: 30px;
    width: 28rem;
    margin-left: 4rem;
}

.video1 {
    position: relative;
    transform: rotate(-90deg);
    margin-left: 3rem;
}

.Container .heading {
    text-align: center;
    border-bottom: 1px solid #6c757d;
    font-family: 'Lobster', cursive!important;
    width: 25rem;
    margin: 0 auto;
}

.image-gallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

img {
    width: 100%;
}

.img-3 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.img-6 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.img-7 {
    grid-column-start: 4;
    grid-column-end: 6;
}

.img-9 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.img-14 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.img-22 {
    grid-column-start: 4;
    grid-column-end: 6;
}

.img-25 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.img-3 img {
    width: 115%;
}

.img-5 img {
    width: 119%;
}

.img-7 img {
    width: 108%;
}

.img-9 img {
    width: 114%;
}

.img-12 img {
    width: 119%;
}
.img-13 img{
    width: 119%;
} 

.img-14 img {
    width: 110%;
}

.img-10 #image-10 {
    width: 113%;
    position: relative;
    left: -17px;
    padding-bottom: 5px;
}

.img-11 img {
    width: 117%;
    position: relative;
    left: -25px;
}

.img-23 img, .img-20 img, .img-18 img {
    width: 112.6%;
}

.img-8 #image-8,.img-11 #image-11 {
    padding-bottom: 5px;
}
.contact {
    text-align: center;
    border-bottom: 2px solid white;
    width: 95%;
    margin: 0 auto;
}

.socialMedia {
    width: 25rem;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 40px;
}

.contact h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

.contact p {
    font-size: 22px;
}

.contact h1, .contact p {
    color: white;
}

.socialMedia a {
    font-size: 40px;
}

.socialMedia a i {
    font-size: 2rem;
    color: #6c757d;
    transition: .1s;
}

.socialMedia a i:hover {
    color: white;
    font-size: 2.2rem;
}

footer {
    border-bottom: 2px solid white;
    width: 95%;
    margin: 0 auto;
}

footer p {
    text-align: center;
    margin: 10px 0;
}

@media screen and (min-width:768px) and (max-width:991px) {
    #SocialIcons a{
        display:inline;
    }
    .videos {
        margin-left: 0;
    }
    .I-am {
        width: 40%;
       
    }
    .img-1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .img-2 {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .img-3 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .img-5 {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 2;
    }
    .img-6 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
    }
    .img-6 img {
        width: 134%;
        margin-left: -150px;
    }
    .img-4 {
        grid-row-start: 1;
        grid-column-start: 5;
    }
    .img-4 img {
        width: 206%;
        margin-left: -60px;
    }
    .img-7 img{
        width: 139%;
    }
    .img-8{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .img-9{
        grid-column-start: 3;
        grid-column-end: 6;
    }
    .img-9 img{
        width: 153%;
        margin-left: -80px;
    }
    .img-10{
        grid-column-start: 4;
        grid-column-end: 6;
    }
    .img-25{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
    }
    .img-25 img{
        width: 153%;
        margin-left: -65px;
    }
    .img-11{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .img-12{
        grid-column-start: 3;
        grid-column-end: 6;
    }
    .img-12 img{
        width: 128%;
        margin-left: -100px;
    }
    .img-13{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .img-14{
        grid-column-start: 3;
        grid-column-end: 6;
        /* margin-top: 0; */
    }
    .img-14 img{
        width: 147%;
        margin-left: -100px;
    }
    .img-15{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .img-22{
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 8;
    }
    .img-22 img{
        width: 142%;
    }
    .img-18{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .img-20{
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .img-23 img{
        width: 233%;
        margin-left: -100px;
    }
}
@media screen and (min-width:420px) and (max-width:768px) {
    #SocialIcons a{
        display:inline;
    }
    .intro {
        display: block;
        height: 80%;
    }
    .I-am {
        width: 100%;
        text-align: center;
    }
    .videos {
        width: 75%;
        margin: 0 auto;
        text-align: center;
    }
    .image-gallery {
        display: block;
    }
     .image {
        margin-top: 20px;
    } 
    .img-13 {
        margin-top: 0;
    }
    .img-8 #image-8, .img-10 #image-10, .img-11 #image-11, .img-15 #image-15 {
        padding-bottom: 20px;
    }
}
@media screen and (max-width:420px){
    #SocialIcons a{
        display:inline;
    }
    .intro{
        display: block;
    }
    .navbar-brand{
        padding-right: 0!important;
        margin-left: 0!important;
        margin-right: 10px!important;
    }
    .I-am {
        width: 100%;
        text-align: center;
    }    
    .videos{
        width: 88vw;
        margin:0 auto;
    }
    .video1{
        width: 250px;
    }
    .heading{
        width: 85vw!important;
    }
    .image-gallery{
        display: block;
    }
    .socialMedia{
        width: 97vw;
    }
}
/* .image {
    margin-top: 20px;
} */
.img-13 {
    margin-top: 0;
}
.img-8 #image-8, .img-10 #image-10, .img-11 #image-11, .img-15 #image-15 {
    padding-bottom: 20px;
}
