/* all pages css without index.html */
.container {
    background: linear-gradient(0deg, rgba(235, 57, 3, 0.7), rgba(7, 3, 235, 0.8)), url(../images/project.jpg);
    background-size: cover;
    height: auto;
    padding-bottom: 30px;
}
.container .main{
    margin-top: 8rem;
    margin-bottom: 4rem;
    margin-left: 0;
    text-align: center;
}
.main p{
    text-align: center;
    margin-left:auto ;
    margin-right: auto;
}
.project{
    margin-top: 5em;
}
.aboutMe{
    margin-top: 2rem;
}
.allContact{
    border-top: none;
}
.contact{
    background: linear-gradient(0deg, rgba(216, 77, 35, 0.78), rgba(7, 3, 235, 0.8));
}
.who-I{
    text-align: left;
    max-width:940px ;
    margin: 0 auto;
}
.who-I h1{
     font-size: 3.25rem;
     color: white;
}
.who-I p{
    font-size: 1.5rem;
    color: #ddd;
    margin: 15px 0;
    line-height: 160%;
}
.getInTouch{
    text-decoration: none;
    color: blue;
}
.service-1-2{
    display: block;
    max-width: 1250px;
    width: 100%;
}
.service{
    display: flex;
    width: 94%;
    margin: 0 auto;
}
.content-styles{
    width: 65%;
    margin-right: 0;
    text-align: left;
    padding-right: 5rem;
}
.content-styles h2{
    padding-top: 5rem;
    font-size: 3.2rem;
}
.service-2{
    margin-top: 5rem;
}
.services-icons{
    width: 35%;
}
.services-icons i{
    font-size: 8rem;
    margin-top: 6rem;
}
@media screen and (max-width:670px) and (min-width:315px){
    .services-icons{
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    .services-icons::after{
        margin-left: 2rem;
        margin-right: 0;
    }
    .pageContainer .main{
        margin-top: 3rem;
    }
    .who-I h1{
        font-size: 1.75rem;
    }
    .who-I p{
        font-size: 1.25rem;
    }
    .aboutMe{
        margin-left: 20px;
        margin-right: 20px;
    }
    #h2{
        width:80%;
    }
    #h2 h2{
        font-size: 2rem;
        padding-top: 3rem;
    }
    .service{
        display: block;
        width: 100%;
    }
    .service-1-2{
        display: block;
        width: 90vw;
    }
    .service{
        display: block;
        width: 100%;
    }
    .txt-large{
        font-size: 1.7rem;
    }
    .content-styles{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .content-styles h2{
        font-size: 2rem;
        text-align: left;
        padding-top: 1.5rem;
    }
    .service-2{
        margin-left: 0;
        margin-top: 20px;
    }
    .services{
        height: 150%;
    }
    .txt-light{
        font-size: 1.25rem;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 2rem;
    }
    .available{
        text-align: center;
    }
    .content-styles h3{
        font-size: 1.5rem;
    }
    .txt-large{
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    .services-icons i{
        font-size: 5rem;
        margin-top: 2rem;
    }
}

