*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;

}
.navBar{
    /* display: flex; */
    background-color: rgba(7, 3, 235, 0.32);
    /* position: fixed; */
    width: 100%;
    box-shadow: 0 2px 0 rgba(7, 3, 235, 0.32);
    padding-bottom: 30px;
}
.logo{
    display: inline;
    position: relative;
    top: 10px;
    margin-left: 20px;
    font-family: 'Lobster', cursive;
    
}
.logo a{
    text-decoration: none;
    font-size: 2.5rem;
}
.navigation{
    float: right;
    padding: 1rem;
}
.navigation ul{
    padding-right: 10px;
    display: flex;
}
.navigation li{
    list-style: none;
}
.navigation a{
    text-decoration: none;
    padding:17px 20px;
    font-size: 1.5rem;
    color: #f0f0f0;
}

.navigation a:hover{
    color: gray;
}
.container{
    margin-top: -5rem;
    width: 100%;
    height: 100vh;
    background:linear-gradient(0deg, rgba(235, 57, 3, 0.7), rgba(7, 3, 235, 0.8)), url(images/r2.jpg);
    background-size: cover;
}
.container div{
    position: relative;
    margin-left: 5rem;
    top: 40%;
}
.container h3{
    color: #f0f0f0;
    font-family: 'Raleway', sans-serif;
    font-size: 4.5rem;
    font-weight: 600;
}
.container p{
    font-style: italic;
    color: #be8631;
    font-size: 31px;
    width: 60rem;
}
.allProjects{
    border-top: 2px solid rgba(235, 57, 3, 0.7);
    border-bottom: 2px solid rgba(235, 57, 3, 0.7);
    /* background-color: #45567d; */
    background:linear-gradient(0deg, rgba(7, 3, 235, 0.8),rgba(235, 57, 3, 0.7) );
    text-align: center;
    padding-bottom: 5rem;
}
h2{
    padding-bottom: 10px;
    padding-top: 6rem;
    font-size: 2.5rem;
    color: #f0f0f0;
}
#h2{
    width: 15rem;
    margin: 0 auto;
    border-bottom: 2px solid #f0f0f0;
    font-family: 'Raleway', sans-serif;
}
.listOfProjects{
    padding-top: 3rem;
    display: grid;
    margin: 0 auto;
    grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap:40px;
    grid-row-gap: 40px;
    width: 100%;
    max-width: 1280px;
    padding-bottom: 6rem;
}
.project{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    border-radius: 3px;
    background-color: #303841;
    transition: 0.2s;
}
.project img{
    height:24rem;
    width: 100%;
    object-fit: cover;
}
.project p{
    padding: 15px;
    font-size: 20px;
    color: #f0f0f0;
}
.btn a{
    cursor: pointer;
    font-size: 20px;
    color: #f0f0f0;
    background-color: #303841;
    padding: 10px 20px;
    border-radius: 3px;
    transition: 0.4s;
    display: inline;
}
.btn i{
    margin-left: 5px;
    transform: translateX(0);
    transition: 0.4s;
    color: #f0f0f0;
}
.contact{
    text-align: center;
    height: 80vh;
    border-bottom: 2px solid rgba(235, 57, 3, 0.7);
    background: linear-gradient(0deg,rgba(177, 81, 81, 0.91), rgba(7, 3, 235, 0.8) );

}
.allContact{
    color: #f0f0f0;
}
.allContact h1{
    padding-top: 8rem;
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
}
.contact p{
    padding-top:10px ;
    font-size: 18px;
    padding-bottom: 50px;
    font-style: italic;
}

.socialMedia a{
    text-decoration: none;
    font-size: 25px;
    text-shadow: 2px 2px 1px #1f1f1f; 
    color: #f0f0f0;  
    transition: transform .4s ease-out;
    margin: 0 15px;
    display: inline-block;

}
footer{
    background-color: #303841;
    text-align: center;
}
.footer p{
    padding: 40px 0;
    color: #f0f0f0;
}
.project:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.btn a:hover{
    background-color: #be3144;

}
.btn a:hover > i{
    transform: translateX(5px);
}
.socialMedia a:hover{
    transform: translateY(10px);
}
@media screen and (max-width:1224px) and (min-width:991px){
    .navBar{
        width: 100vw;
    }
    .container h3{
        font-size: 3.5rem;
    }
    .container p{
        font-size: 28px;
        width: 70%;
    }
    .listOfProjects{
        width: 94vw;
    }
    .socialMedia{
        width: 90vw;
    }
    footer p{
        font-size: 20px;  
    }
}
@media screen and (min-width:1224px){
    .listOfProjects{
        width: 94vw;
    }
}
@media screen and (min-width:450px) and (max-width:991px){
    body{
        overflow-x: hidden;
    }
    .navBar{
        width: 100vw;
    }
    .navigation{
        display: none;
    }
    .container div{
        margin-left: 0;
        padding-left: 10px;
    }
    .container h3{
        font-size: 3.5rem;
    }
    .container p{
        font-size: 28px;
        width: 85%;
    }
    #h2{
        width:22rem;
    }
    .listOfProjects{
        width: 94vw;
    }
    .allContact h1{
        font-size: 45px;
    }
}
@media screen and (max-width:450px) and (min-width:320px){
    .navBar{
        width: 100vw;
    }
    .container h3{
        font-size: 2.5rem;
    }
    .container div{
        margin-left: 0;
        padding-left: 10px;
    }
    .container p{
        font-size: 28px;
        width: 100%;
    }
    .navigation{
        display: none;
    }
}